.mainDiv{
  background-color: #ffef96;
}

.title{
  background-color: #ff7b25;
  text-align: center;
  padding: 10px;
  color: white;
}

.parentClass{
  background-color: #e3eaa7;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.parentClass button{
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  margin: 10px;
  background-color: #bc5a45;
  color: white;
}

.childClass{
  background-color: #b9936c;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.childClass button{
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #bc5a45;
  color: white;
}

.sonClass{
  background-color: #92a8d1;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.sonClass button{
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #bc5a45;
  color: white;
}